body {
  margin: 1px;
}

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.cajon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
}

.box {
  background-color: whitesmoke;
  width: 150px;
  height: 80px;
  margin: 5px;
}

.botones {
  display: flex;
  gap: 10px;
  width: 100%;
}
